@import "../sass-exports/variables";
@import "../sass-exports/utils";

.scoreBoard {
  position: absolute;
  display: flex;
  justify-content: space-around;
  font-family: "Kongtext";
  width: hGrid(9);
  height: vGrid(5);
  color: $highlight-color;
  z-index: 6;
  pointer-events: none;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    &.column-1 {
      flex: 1;
    }

    &.column-2 {
      flex: 1;

      .playerName {
        height: 30px;
      }

      .call-to-action {
        background-color: $highlight-color;
        width: hGrid(4);
        height: vGrid(0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8em;
        color: $dark-base-color;
        position: relative;

        .reset-prompt {
            color: $highlight-color;
            position: absolute;
            font-size: 0.8em;
            height: vGrid(1.5);
            align-items: center;
            justify-content: space-between;
            display: flex;
            flex-direction: column;
        }

        .social-links {
            .social-link {
                pointer-events: all !important;
            }
        }
      }
    }

    &.column-3 {
      flex: 1;
    }

    .hearts {
      list-style: none;
      margin-top: $paragraph-gap;

      li {
        display: inline;
        padding: 8px;
      }
    }
  }

  &.inactive {
    color: $subdue-color;
    z-index: 1;

    .call-to-action {
      opacity: 0;
    }
  }
}
